<div class="title">
    <h1>Ver Muebles</h1>

</div>
<div class="container">
<mat-card class="card">
    <mat-card-title>Mesa</mat-card-title>
    <mat-card-content>
        <p><strong>Nombre:</strong> Mesa</p>
        <p><strong>Descripcion:</strong> Metal</p>
        <p><strong>Dim:</strong>Cafe</p>
        <p><strong>MaterialesId:</strong> 2</p>

    </mat-card-content>
    <mat-card-actions>
        <button routerLink="/listMuebles" class="volver" mat-button color="primary">Volver</button>
    </mat-card-actions>
</mat-card>
</div>
