table {
  width: 100%;
}





td , th {
  width: 15%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 50%;
}

.delete {
  cursor: pointer;
  color: brown;
}

.edit {
  cursor: pointer;
  color: blue;
}
.search {
  cursor: pointer;

}
.agregar {
  font-size: 15px;
  line-height: 30px;
}

